// Importar funciones y variables de Bootstrap
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

// Tus personalizaciones
$primary: #4318ff;
$danger: #ff4136;
$light: #f4f7fe;
$secondary: #a3aed0;
$border-input: #e0e5f2;
$info: #3965ff;

$font-family-base: 'DM Sans', system-ui;

// Actualizar el mapa de colores del tema
$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $primary,
    'danger': $danger,
    'light': $light,
    'info': $info,
    'secondary': $secondary
  )
);

// Configuraciones personalizadas adicionales
$input-border-color: $border-input;

// Importar todo Bootstrap
@import 'bootstrap/scss/bootstrap';

// Tus estilos personalizados adicionales
.text-secondary {
  color: $secondary !important;
  font-weight: 400;
  font-size: 1rem;
}

.label {
  font-size: 0.875rem;
}

.text-danger {
  font-size: 0.75rem;
  font-weight: 500;
  transition: font-size 2s linear;
}

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 8px;
  overflow: hidden;
  background-color: $light;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avatar-sm {
  width: 32px;
  height: 32px;
  font-size: 0.875rem;
}

.avatar-md {
  width: 48px;
  height: 48px;
  font-size: 1.25rem;
}

.avatar-lg {
  width: 64px;
  height: 64px;
  font-size: 1.5rem;
}

.initials {
  font-weight: bold;
}

.active {
  border-right: 5px solid $primary;

  p {
    color: #2b3674 !important;
    font-weight: bold !important;
  }
  .text-secondary {
    color: #2b3674 !important;
  }
}
.dropdown-menu {
  overflow: hidden !important;
}
.dropdown-item {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}
.dropdown-item:hover {
  background-color: $light;
}

p,
h1,
span,
h2 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
// Asegúrate de que las variables personalizadas estén disponibles como variables CSS
:root {
  --bs-secondary-rgb: #{to-rgb($secondary)};
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 3px;
}
