@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

$primary: #4318ff;
$danger: #ff4136;
$light: #e5e5e5;
$font-family-base: 'DM Sans', system-ui;
$secondary: #a3aed0;
$border-input:#E0E5F2;

.text-secondary {
  color: $secondary !important;
  font-weight: 400;
  font-size: 1rem;
}

.label {
  font-size: 0.875rem;
}


// .form-control{
//   border-radius: 16px;
//   border: solid 1px $border-input;
// }
// :focus{
//   box-shadow: none !important;
// }


$theme-colors: (
  'primary': $primary,
  'dange': $danger,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'light': $light,
  'dark': $dark
);

:root {
  --bs-secondary-rgb: $bs-secondary-rgb;
}

@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/bootstrap';
